.list-section
  .l-container
    .l-row.list-section__row
      .list-section__title
        h2 Отличия моей системы от других программ:

      .l-spacer
      
      .list-section__list.mt-200px
        p.list-item.list-item--lg Рассказываю только то, что делаю каждый день сам. Я зарабатываю на покупке долгов и взыскании, а не на обучении. Все чем поделюсь основано на реальном опыте
        p.list-item.list-item--lg Мало теории - только для того, чтобы  быстрее объяснить Вам практические механизмы
        p.list-item.list-item--lg Моя задача - показать Вам безопасный и гарантированный способ заработка,чтобы Вы могли принять взвешенное решение и миновать стадию новичка
        p.list-item.list-item--lg Я даю рабочие алгоритмы, которые  реально повторить самостоятельно
        p.list-item.list-item--lg Понятно и доступно объясняю, без юридических и финансовых терминов
        
