.footer
  .l-container
    .l-row.footer__contact
      a(href="tel: +7 (920) 359-78-69" target="_blank") +7 (920) 359-78-69
      a(href="mailto: mail@vozmi-svoe.ru" target="_blank") mail@vozmi-svoe.ru

    .l-row.footer__policy
      .footer__policy-left
        p ИП Будилов Н.А. - ИНН 370250558922
        p 153021 Ивановская обл. Иваново, ул 10-я Сосневская д. 120/66
      
      .footer__policy-right
        p: a(href="#") Оферта
        p: a(href="#") Политика конфиденциальности

    .l-row.footer__low
      p 2020 г. Все права защищены законодательством РФ

      