.list-section
  .l-container
    .l-row.list-section__row
      .list-section__title
        h2 Этот мастер-класс для вас, если:

      .l-spacer
      
      .list-section__list
        p.list-item.list-item--lg Вам нужен постоянный стабильный заработок, а не копеечная зарплата
        p.list-item.list-item--lg Вам нужно быстро  расплатиться с кредитами,но при текущих расходах сделать это нереально
        p.list-item.list-item--lg Вы пробуете разные ниши, чтобы найти высокодоходную профессию и хотели бы действовать наверняка
        p.list-item.list-item--lg Вы уже покупали дебиторку, но не до конца понимаете, как работает вся схема
        p.list-item.list-item--lg Вам нужен более прибыльный источник  дохода, чем банковский вклад и просчитываете беспроигрышные варианты
        
