.hat
  .l-container
    .l-row
      .hat__offer
        span.capture.capture--lg Мастер-класс
        h1.hat__title Заработок на покупке и взыскании долгов

        p.hat__offer-desc Покажем, как быстро и эффективно зарабатывать на чужих долгах или закрыть свои

        .hat__offer-desc.hat__offer-desc-md
          p.list-item.list-item--grey-c Как закрыть собственные кредиты за 30 дней
          p.list-item.list-item--grey-c Как заработать без вложений, рисков и нервов
          p.list-item.list-item--grey-c Как покупать собственность за 1-5% от стоимости

        .hat__action
          .hat__action-btn
            a.btn.scroll-to-form Принять участие
            img(src="/img/play.svg").hat__action-play.show-video-modal
            
          .hat__date
            span.capture Когда:
            h5.font-weight-400.mt-2 25.11.2019 в 19:00 (МСК)
      
      .l-spacer

      .hat__about
        .hat__video.show-video-modal
          .hat__video-preview
            img(src="/img/video-preview.jpg" alt="video")
          img(src="/img/play.svg").hat__video-play
        .hat__info-list
          span.capture Что вы узнаете:
          p.list-item.list-item--white Как закрыть собственные кредиты <br> за 30 дней
          p.list-item.list-item--white Как заработать без вложений, рисков и нервов
          p.list-item.list-item--white Как покупать собственность за 1-5% от стоимости



