.host
  .l-container
    .l-row
      .host__info
        h2 Кто ведет вебинар?
        h3.host__owner 
          img(src="/img/host-avatar.jpg" alt="Ведущий вебинара Илья Широков").host__owner-avatar
          | Илья Широков

        .host__blocks-wrapper
          .seperated-block
            p Более 6-ти лет на торгах по банкротству

          .seperated-block
            p Более 3-х лет работы с дебиторской задолженностью

          .seperated-block
            p За 2018 год взыскано более <span class="inline-flex">12 000 000 рублей</span>

      .host__portrait
        img(src="/img/host.png" alt="Ведущий вебинара Илья Широков")