.reasons
  .l-container
    .l-row
      h2.reasons__title Почему именно этот вариант заработка?
    .l-row.reasons__wrapper
      .seperated-block
        p Cпособ отработан до мелочей, 100% законный и безопасный
        
      .seperated-block
        p Вам не нужно иметь юридическое или финансовое образование

      .seperated-block
        p Никаких контрактов с должником. Не надо  заставлять вернуть долг

      .seperated-block
        p Схема работает безотказно, если знать несколько важных правил
