.webinar
  .l-container
    .l-row
      h2.webinar__title Что будет на вебинаре
      p.webinar__desc Вы узнаете о заработке на дебиторке больше, чем юристы и сможете получить доход там, где другие теряют деньги

    .l-row
      .webinar__column
        h5 На вебинаре мы разберем: 
        p.list-item Что такое дебиторская задолженность
        p.list-item За какие дебиторки выгодно браться, а за какие не стоит
        p.list-item Пошаговый план работы, а также автоматизация процесса, чтобы работать не более 4-х часов в день
        p.list-item Как оценивать долги юридических и физических лиц и выбирать наиболее выгодные для Вас
        p.list-item Какие ошибки делают новички при покупке долгов и как их избежать
        p.list-item Как работать с судебными приставами и каких ошибок нужно избегать

      .webinar__column
        h5 Ваш результат после вебинара:
        p.list-item Поймете, как выстроить собственную схему заработка
        p.list-item Выясните, где и как покупать дебиторскую задолженность за 5-10% от стоимости
        p.list-item Узнаете, как правильно оценивать долги перед покупкой, чтобы взыскать деньги с вероятностью 95%

    .l-row.webinar__action
      a.btn.scroll-to-form Принять участие