doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Заработок на покупке и взыскании долгов – Вебинар
  link(rel='stylesheet', href='css/main.css')
  link(rel="shortcut icon" href="./img/favicon.png" type="image/png")
body

  //= templates/hat.pug
  //= templates/for-you.pug
  //= templates/reasons.pug
  //= templates/webinar.pug
  //= templates/host.pug
  //= templates/differences.pug
  //= templates/form.pug
  //= templates/footer.pug
  //= templates/modal.pug
  
script(src='js/main.js')
